.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  padding: 2rem 0;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary);
}

header p {
  margin-top: 0.5rem;
  color: var(--text);
  opacity: 0.8;
}

main {
  margin-top: 2rem;
}
